/* Mobile */
@media (max-width: 46.1875em) {
    .s-full-width {
        width: 100%;!important
    }
    .s-col-full {
        width: 100%;!important
    }

    .s-mt-8 {
        margin-top: 8px; !important
    }

    #header{
        overflow: hidden;
    }    
    #header .search-btn  {
        display: none;
    }

    #header .mobile-menu-button {
        display: block;
    }

    #nav, #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #content .member-img {
        margin-bottom: 15px;
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }

}

/* Tablet + Mobile */
@media (max-width: 63.9375em) {
    #nav .subnav a {
        padding: 4px 12px;
    }

    .contact-content .contact-info {
        line-height: 2;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    #footer .socials-list {
        font-size: 48px;
    }

    .socials-list a {
        margin: 0 8px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
}

/* PC */
@media (min-width: 64em) {
    
}